{{#section 'head'}}
    {{! handlebars on the client side -> use CDN link }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>

    {{! hint: escape the double curly braces with a backslash when using them between <script> tags
              otherwise the server-side view processing will attempt }}
    <script id="techCourseTemplate" type="text/x-handlebars-template">
        Educational Institution: <b>\{{eInstitution}}</b>
        Course Name: <b>\{{cName}}</b>
        Course Description: \{{cDescription}}
    </script>
{{/section}}


<div id="techCourse">Click a button....</div>

<hr>
<button id="btnTechCourse">Display tech course</button>
<button id="btnTechCourseAjax">Display tech course from AJAX</button>


{{#section 'jquery'}}
    <script>
        $(document).ready(function(){

            {{! compiles a template so it can be executed immediately (as a function) }}
            var techCourseTemplate = Handlebars.compile($('#techCourseTemplate').html());

            var $techCourse = $('#techCourse');

            {{! template }}
            $('#btnTechCourse').on('click', function(evt){
                evt.preventDefault();
                $techCourse.html(techCourseTemplate({
                    eInstitution: 'Rutgers',
                    cName: 'Computer Algorithms',
                    cDescription: 'Learning Algorithms'
                }));
            });

            {{! ajax }}
            $('#btnTechCourseAjax').on('click', function(evt){
                evt.preventDefault();
                $.ajax('/data/tech-course', {
                    success: function(data){
                        $techCourse.html(techCourseTemplate(data))
                    }
                });
            });

        });
    </script>
{{/section}}